<table>
  <thead>
    <tr>
      <th >Fecha</th>
      <th>Tipo</th>
      <th>Categoría</th>
      <th >Importe</th>
      <th>Editar</th>
      <th>Visitar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movimientos ">
      <td>{{fecha(m.fecha) | date:"dd-MMM-yyyy"}}</td>
      <td>{{m.tipo}}</td>
      <td>{{m.categoria}}</td>
      <td [ngClass]="{positivo: m.tipo=='Ingreso',negativo: m.tipo=='Gasto'}">{{m.importe | number}} €</td>
      <td (click)="seleccionar(m)">E</td>
      <td ><a [routerLink]="['/movimientos', m._id]">V</a></td>
    </tr>
  </tbody>
</table>