<h4>Soy el componente saludo dentro del módulo home</h4>
<h1>
  <!--Interpolación de variables definidas en el modelo del componente-->
  {{ titulo }}
</h1>
<!--Expresiones-->
  <p>Soy capaz de multiplicar por {{1 * 2}} tus habilidades </p>
<form>
  <!--Atributos [] de html enlazados a propiedades-->
  <div [hidden]="avanzado">
    <label>¿Cómo te llamas?</label>
    <!--Enlace doble (lectura y escritura) entre la vista y el modelo-->
    <input type="text" name="aprendiz" [(ngModel)]="aprendiz" />
    <p>Bienvenido a Angular 2 {{ aprendiz }} </p>
    <!--En este caso la variable aprendiz no se declaró intencionadamente en la clase
    En JS esto es legal, aunque inmoral ;-)-->

    <!--Eventos-->
    <button (click)="visible=true">Saludar</button>

    <!--Propiedades-->
    <p [hidden]="!visible">Hola {{ aprendiz }}!!!
      <!--eventos de codigo-->
      <button (click)="decirAdios()">Avanzar</button>
    </p>
  </div>
  <movimiento [hidden]="!avanzado"></movimiento>
</form>